body {
  background-color: lightblue;
}

#text {
  font-size: 1.2em;
  height: 300px;
}

.tweet {
  background-color: #E8F4F9;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.tweet-text {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
}

.tweet-length {
  text-align: right;
}

.tweet-length-error {
  color: red;
  font-weight: bold;
}