body {
  background-color: lightblue;
}

#text {
  font-size: 1.2em;
  height: 300px;
}

.tweet {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 5px;
}