/**
 * Color palette stolen from: https://www.materialpalette.com/light-blue/deep-purple
 */
body {
  background-color: #2196F3; /* primary color */
  color: #FFFFFF; /* text color */
}

.vikas, .vikas:hover {
  color: #ffffff;
}

h3 {
  opacity: 0.8;
}

#text {
  font-size: 1.2em;
  height: 380px;
}

.accent, .accent:hover {
  color: #7C4DFF; /* accent color */
}

.tweet {
  background-color: #BBDEFB; /* light primary color */
  border-radius: 10px;
  color: #000000;  
  margin-bottom: 20px;
  padding: 5px;
  padding-bottom: 0px;
}

.tweet-text {
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  white-space: pre-wrap;
}

.tweet-length {
  text-align: right;
}

.tweet-length-error {
  color: red;
  font-weight: bold;
}